# Gradle / build
.gradle/
build/
*/build/
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
captures/
.cxx/

# Kotlin / KMP
*.hprof
kotlin-js-store/

# macOS / Xcode
.DS_Store
xcuserdata/
*.xcodeproj/
*.xcworkspace/
DerivedData/
iosApp/Pods/

# Misc
*.log
